.login-content{
    height: 70vh;

    display: flex;

    align-items: center;
    justify-content: center;
}
.login-form{
    width: 500px;
    background-color: rgba(0, 128, 128, 0.3);
    border-radius: 5px;
    margin: 0px auto;
    padding: 80px 0 50px 0;
    text-align: center;
}

.login-form img{
    width: 100px;
    height: 100%;
    object-fit: cover;
    text-align: center;
    margin-bottom: 30px;
}

.login-input{
    outline: none;
    border: none;
    width: 450px;
    padding: 15px 10px;
    margin: 10px 25px;
    border-radius: 5px;
}

.login-form h5{
    margin: 5px 0;
    font-weight: normal;
}

.login-form h5 span {
    font-weight: 600;
    color: beige;
    cursor: pointer;
}

.login-form hr{
    width: 90%;
    border: 1px solid teal;
    margin: 20px auto;
}

.auth-btns{
 display: flex;
 flex-direction: row;
 justify-content: space-around;

}

.login-btn{
    width: 450px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: teal;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

.login-btn:hover{
    background-color: rgb(0, 87, 87);
}

.auth-btns button{
    border: 0;
    outline: 0;
    width: 200px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: teal;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.auth-btns button:hover{
    background-color: rgb(0, 87, 87);
}

.auth-btns button .icon{
    font-size: 16px;
    margin-right: 5px;
}