.cart-total-container{
    width: 100%;
    display: flex;
    justify-content: center;

}
.cart-total-container>div{
    border: 2px solid #eee;
    padding: 10px 50px;
    margin-top: 30px;
}

.cart-total-container h5, h4, hr, p{
    margin: 10px 0;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 2px;
}

.cart-total-container h4{
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0;
}

.cart-total-container span{
    float: right;

}

.cart-total-container a {
    color: #fff;
}

.checkout-btn{
    padding: 5px 20px;
    margin-top: 10px;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 2px;
}

@media (min-width: 776px){
    .cart-total-container{
        justify-content: flex-end;
    }
}