.hero-container{
    display: flex;
    flex-direction: column;

}

.hero-container .content{
    margin-bottom: 20px;
}

.hero-container .content h1{
    font-size: 2rem;
}

.hero-container .content p{
    margin: 20px 0;
}

.img-container img{
    text-align: center;
    width: 100%;
}


@media screen and (min-width: 992px) {

.hero-container{
   flex-direction: row;


   padding: 150px 150px;
   text-align: center;
    
 }

 .hero-container .content{
    text-align: left;

}

 .img-container img{
    width: 80%;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 128, 128, 0.5);
}


.hero-container .content h1{
    font-size: 2.5rem;
}

.hero-container .content p{
    margin: 20px 0;
    font-size: 1.2rem;
}

.hero-btn{
    font-size: 1.1rem;
}

}
    
    