.product-container{
    position: relative;

}

.product-container img{
    width: 100%;
    object-fit: cover;
}

.product-container .Link{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: teal;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
} 

.product-container:hover img {
    opacity: 0.5;
  }
.product-container:hover .Link {
    opacity: 1;
}

.product-container--footer {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.product-container--footer h5,p{
    margin-bottom:0;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}

.product-container--footer p{
    color: teal;
    font-weight: 700;
    font-size: 16px;
}