.sidebar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 20px; 
    background-color: #fff;
    transition: all 0.5s;
    transform: translate(-100%);
    z-index: -1;

}


.show-sidebar{
    transform: translate(0);
    z-index: 100;
}

.sidebar-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-top .logo{
    width: 100px;
    height: 100%;
    object-fit: contain;
    display: block;
}

.close-btn{
    background-color: transparent;
    border: 0;
    color: teal;

    cursor: pointer;
}

.close-btn .icon{
    font-size: 30px;
    font-weight: 600;
}


.sidebar-middle{
    margin: 30px 0;
}

.sidebar-middle a div{
    padding: 10px 10px;
    font-size: 15px;
    color: teal;
    letter-spacing: 2px;
    text-transform: capitalize;
    transition: all 0.5s ease;
}

.sidebar-middle a div:hover{
    padding: 10px 10px;
    padding-left: 30px;
    font-weight: 600;
}

.sidebar-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 600;
}

.sidebar-bottom>a>div{
 margin: 0 30px;
 display: flex;
 flex-direction: row;
align-items: center;
}

.sidebar-bottom>div{
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
   }


   
   @media screen and (min-width: 992px) {
    .sidebar-container {
      display: none;
    }
  }

