.navbar-container{
    width: 80vw;
    padding-top: 30px;
    margin: 0 auto; 
}

.nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: 50px;
}

.nav a {
    font-weight: 600;
}

.logo{
    width: 130px;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.menu{
    display: flex;
    flex-direction: row;  
    justify-content: center;
}

.menu>a>div{
    margin: 0 30px;
}

.icons{
    flex:1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons div { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icon {
    position:relative;

}
.icon > span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: teal;
    color: #fff;
    text-align: center;
    font-size: 14px;

    position:absolute;
    top: -10px;
    left: 15px;
}

.icons p{
    font-weight: 600;
}

.nav-toggle{
    background-color: transparent;
    border: 0;
    color: teal;
    cursor: pointer;
    position:absolute;
    top: 20px;
    right: 25px;

    display: none;

}

.login{
    cursor: pointer;
}

.nav-toggle .icon{
    font-size: 30px;
    font-weight: 600;
}


@media (max-width: 991px){
    .nav{
        margin-bottom: 80px;
    }
    .nav-toggle{
        display : block;
    }

    .logo{
        width: 100px;
    }

    .menu,
    .icons{
        display: none;
    }


}


